<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/user_base::layout(~{::section})">
<!-- The fragment from base.html will be replace here -->
<head>
<meta charset="UTF-8" />
<title>This is Add new Contact Page</title>
</head>
<body>
	<!-- this section code will be passes as parameter in layout "layout(~{::section})" -->
	<section>
		<div class="card mr-3">
			<div class="catd-body">
				<h1 class="text-center">Add Contact</h1>
			</div>
			<div class="container-fluid mt-1">
				<div class="col-md-10 offset-md-1">

					<form action="#" th:object="${contact}"
						enctype="multipart/form-data" method="POST"
						th:action="@{/user/process-add-contact}" class="mt-2">

						<!-- Contact Name  -->
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="fas fa-user-alt"></i>
								</div>
							</div>

							<input type="text" id="firstName" name="name"
								placeholder="Enter your name" class="form-control" />
						</div>

						<!-- nickname -->
						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="fa fa-plus"></i>
								</div>
							</div>

							<input type="text" id="nickName" name="nickName"
								placeholder="Enter nickName " class="form-control" />
						</div>

						<!-- Phone -->
						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="fa fa-phone"></i>
								</div>
							</div>

							<input type="number" id="phone" name="phone"
								placeholder="Enter Phone number " class="form-control" />
						</div>

						<!-- Email -->
						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<b>@</b>
								</div>
							</div>

							<input type="email" id="email" name="email"
								placeholder="Enter Email " class="form-control" />
						</div>

						<!-- Email -->
						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="fa fa-briefcase"></i>
								</div>
							</div>

							<input type="text" id="occupation" name="occupation"
								placeholder="Work Details" class="form-control" />
						</div>

						<!-- info -->
						<div class="input-group mt-3">
							<textarea name="info" id="info" rows="4" cols=""
								class="form-control" placeholder="Enter Contact Description"></textarea>
						</div>

						<!-- IMAGE -->
						<div class="custom-file mt-3">
							<input type="file" name="profileImage" />
						</div>

						<!-- Button Save -->
						<div class="container text-center">
							<button class="btn btn-outline-primary ">Save Contact</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</section>
</body>
</html>