<!doctype html>

<!-- Complete html tag will be passes to the caller view as it is a fragment -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Thymeleaf syntax to add static file "@{/}" -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!-- "@{/}" will give path of "static" folder -->

<!-- To accept title from calling-controller -->
<title th:text="${title}">Base html</title>
</head>
<body>

	<!-- Start of NAV-Bar -->
	<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">

		<a class="navbar-brand" href="#">Smart Contact Manager - User</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav ml-auto text-uppercase">

				<li class="nav-item active"><a th:href="@{/}" class="nav-link"
					href="#">Home <span class="sr-only">(current)</span>
				</a></li>

				<li class="nav-item"><a class="nav-link" href="#" tabindex="-1"
					aria-disabled="true"><span th:text="${user.name}"></span></a></li>

				<li class="nav-item"><a th:href="@{/logout}" class="nav-link"
					href="#" tabindex="-1" aria-disabled="true">Logout</a></li>
			</ul>
		</div>
	</nav>
	<!-- END of NAV-Bar -->


	<!-- SIDE BAR -->
	<!-- The code of "" will be replaced in-place of the div tag -->
	<div class="sidebar mt-2">

		<span onclick="toggleSidebar()" class="crossbtn">&times;</span>

		<!-- Sidebar Home -->
		<a href="#" th:href="@{/user/index}" class="item"><i
			class="fas fa-home"></i> Home</a>

		<!-- sidebar VIWE Contact -->
		<a href="#" class="item"><i class="fas fa-id-card-alt"> </i> View
			Contacts</a>

		<!-- sidebar NWE Contact -->
		<a href="#" th:href="@{/user/add-contact}" class="item"> <i
			class="fas fa-pencil-alt"></i> Add Contact
		</a>

		<!-- sidebar Profile -->
		<a href="#" class="item"><i class="fas fa-user-circle"></i> Your
			Profile </a>

		<!-- sidebar Settings  -->
		<a href="#" class="item"> <i class="fas fa-cog"> </i> Setting
		</a>

		<!-- sidebar Logout  -->
		<a href="#" th:href="@{/logout}" class="item"><i
			class="fas fa-sign-out-alt"></i> Logout</a> <i class="fa-solid fa-house"></i>

		<div class="devider"></div>

	</div>

	<!-- The code of "content" will be replaced in-place of the div tag -->
	<div class="content mt-5">

		<!-- for 3 PI bar  -->
		<i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>

		<div th:replace="${content}"></div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<!-- Thymeleaf syntax to add static file "@{/}" -->
	<script th:src="@{/js/script.js}"></script>
	<!-- "@{/}" will give path of "static" folder -->


</body>
</html>