<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/user_base::layout(~{::section})">
<!-- The fragment from base.html will be replace here -->
<head>
<meta charset="UTF-8" />
<title>This is User Dashboard</title>
</head>
<body>
	<!-- this section code will be passes as parameter in layout "layout(~{::section})" -->
	<section>
		<div class="text-center">
			<h2 class="font-weight-bold">
				Welcome back <span th:text="${user.name}"></span>
			</h2>
		</div>



	</section>
</body>
</html>