<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<!-- The fragment from base.html will be replace here (Complete Base.html in our case) -->
<head>
<meta charset="UTF-8" />
<title>About Page..</title>
</head>
<body>

	<!-- this section code will be passes as parameter in layout "layout(~{::section})" -->
	<section>
		<div class="container">

			<div class="row">

				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-3">

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert "
							role="alert">
							<p th:text="${session.message.content}" class="text-center"></p>

							<!-- <th:block th:text="${#session.removeAttribute('message')}"></th:block> -->
						</div>

						<div class="container text-center">
							<img style="width: 80px;" th:src="@{/images/add-user.png}" alt="" />
						</div>

						<h1 class="text-center">Register Here !!</h1>

						<form th:action="@{/do-register}" method="post"
							th:object="${user}">

							<!-- To accept Name -->
							<div class="form-group">
								<label for="name_field">Your Name</label> <input type="text"
									class="form-control "
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
									id="name_field" name="name" aria-describedby="emailHelp"
									placeholder="Enter your Name" required="required"
									th:value="${user.name}" />
								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
							</div>

							<!-- To accept Email -->
							<div class="form-group">
								<label for="email_field">Email address</label> <input
									type="email" class="form-control "
									th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}"
									id="email_field" name="email" aria-describedby="emailHelp"
									placeholder="Enter your Email" required="required"
									th:value="${user.email}" />
								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
							</div>

							<!-- To accept Password -->
							<div class="form-group">
								<label for="password_field">Password</label> <input
									type="password" class="form-control" id="password_field"
									name="password" aria-describedby="emailHelp"
									placeholder="Provide a Password" required="required">
							</div>

							<!-- For About -->
							<div class="form-group">
								<textarea th:text="${user.about}"
									placeholder="Enter something about yourself..." rows="7"
									class="form-control" name="about"></textarea>
							</div>

							<!-- Term & conditions -->
							<div class="form-group form-check text-center">

								<input type="checkbox" name="agree" class="form-check-input"
									id="agree" /> <label for="agree">Accept terms &
									conditions</label>
							</div>

							<!-- to create buttons -->
							<div class="container text-center mt-2">

								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>

							</div>

						</form>
					</div>

				</div>

			</div>

		</div>

	</section>

</body>
</html>