<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<!-- The fragment from base.html will be replace here (Complete Base.html in our case) -->
<head>
<meta charset="UTF-8" />
<title>About Page..</title>
</head>
<body>

	<!-- this section code will be passes as parameter in layout "layout(~{::section})" -->
	<section>
		<div class="container">

			<div class="row">

				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-3">

						<div class="container text-center">

							<img style="width: 80px;" th:src="@{/images/add-user.png}" alt="" />

						</div>

						<h1 class="text-center">Register Here !!</h1>

						<form th:action="@{/do-register}" method="post">

							<!-- To accept Name -->
							<div class="form-group">
								<label for="name_field">Your Name</label> <input type="text"
									class="form-control" id="name_field"
									aria-describedby="emailHelp" placeholder="Enter your Name"
									required="required">
							</div>

							<!-- To accept Email -->
							<div class="form-group">
								<label for="email_field">Email address</label> <input
									type="email" class="form-control" id="email_field"
									aria-describedby="emailHelp" placeholder="Enter your Email"
									required="required">
							</div>

							<!-- To accept Password -->
							<div class="form-group">
								<label for="password_field">Password</label> <input
									type="password" class="form-control" id="password_field"
									aria-describedby="emailHelp" placeholder="Provide a Password"
									required="required">
							</div>

							<!-- For About -->
							<div>
								<textarea placeholder="Enter something about yourself..."
									rows="7" class="form-control"></textarea>
							</div>

							<!-- to create buttons -->
							<div class="container text-center mt-2">

								<button type="button" class="btn btn-primary ">Submit</button>
								<button type="reset" class="btn btn-warning ">Reset</button>

							</div>

						</form>
					</div>

				</div>

			</div>

		</div>

	</section>

</body>
</html>